
<div id="newUser">
    <button class="btn btn-primary">
        <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>
        Nuevo paciente
    </button>
</div>

<table id="tableC" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Rut</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>20.346.548-0</td>
        <td>19293494</td>
        <td>MOto@gmail.com</td>

        <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>20.346.548-0</td>
        <td>19293494</td>
        <td>MOto@gmail.com</td>

        <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>20.346.548-0</td>
        <td>19293494</td>
        <td>MOto@gmail.com</td>

        <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>20.346.548-0</td>
        <td>19293494</td>
        <td>MOto@gmail.com</td>
 
        <td>
            <button class="btn btn-warning">Editar</button>
            <button class="btn btn-danger">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
