<div class="modal" [ngStyle]="{'display':modalService.oculto}" tabindex="-1" role="dialog" *ngIf="modalService.modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalles Cita</h4>
                <button (click)="ocultarModal()" type="button" class="btn-close" data-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div *ngIf="modalService.tipo == 'p'; then contenidoVerdadero else contenidoFalso"></div>

                <ng-template #contenidoVerdadero>
                    <div class="card">
                        <div class="imagen">
                            <img [src]="modalService.img" alt="foto proximo">
                        </div>
                        <div class="datos">
                            <h3>{{modalService.citaProx.Medico.especialidad }}</h3>
                            <h3>{{modalService.citaProx.Medico.nombre + ' '+ modalService.citaProx.Medico.apellido}}
                            </h3>
                            <p>Fecha: {{modalService.citaProx.fecha | date: 'dd-MM-yyyy'}}</p>
                            <p>Hora inicio: {{modalService.citaProx.hora_inicio | timeFormat}}</p>
                            <p>Hora término: {{modalService.citaProx.hora_termino | timeFormat}}</p>
                            <p>Ubicación: {{modalService.citaProx.Medico.direccion}}</p>
                            <div class="detalles-btn d-flex">
                                <button
                                    (click)="cancelarCita(modalService.citaProx, modalService.citaProx.Medico.nombre, modalService.citaProx.Medico.apellido, modalService.citaProx.Medico.email, modalService.citaProx.Usuario.nombre, modalService.citaProx.Usuario.apellido, modalService.citaProx.Usuario.email)"
                                    type="button" class="btn btn-danger btn-cancelar">Cancelar
                                    <i class="fa-solid fa-calendar-xmark"></i>
                                </button>
                                <button *ngIf="!modalService.citaProx.pagada"
                                    (click)="pagarCita(modalService.citaProx, modalService.citaProx.Usuario.id)" type="button"
                                    class="btn btn-success btn-pagar">Pagar
                                    <i class="fa-solid fa-credit-card"></i>
                                </button>
                            </div>
                        </div>

                    </div>


                </ng-template>

                <ng-template #contenidoFalso>
                    <div class="card">
                        <div class="imagen">
                            <img [src]="modalService.img" alt="foto actual">
                        </div>
                        <div class="datos">
                            <h3>{{modalService.citaActual.Medico.especialidad }}</h3>
                            <h3>{{modalService.citaActual.Medico.nombre + ' '+ modalService.citaActual.Medico.apellido}}
                            </h3>
                            <p>Fecha: {{modalService.citaActual.fecha | date: 'dd-MM-yyyy'}}</p>
                            <p>Hora inicio: {{modalService.citaActual.hora_inicio | timeFormat}}</p>
                            <p>Hora término: {{modalService.citaActual.hora_termino | timeFormat}}</p>
                            <p>Ubicación: {{modalService.citaActual.Medico.direccion}}</p>
                            <div class="detalles-btn d-flex">
                                <button
                                    (click)="cancelarCita(modalService.citaActual, modalService.citaActual.Medico.nombre, modalService.citaActual.Medico.apellido, modalService.citaActual.Medico.email, modalService.citaActual.Usuario.nombre, modalService.citaActual.Usuario.apellido, modalService.citaActual.Usuario.email)"
                                    type="button" class="btn btn-danger btn-cancelar">Cancelar
                                    <i class="fa-solid fa-calendar-xmark"></i>
                                </button>
                                <button *ngIf="!modalService.citaActual.pagada"
                                    (click)="pagarCita(modalService.citaActual, modalService.citaActual.Usuario.id)" type="button"
                                    class="btn btn-success btn-pagar">Pagar
                                    <i class="fa-solid fa-credit-card"></i>
                                </button>
                            </div>

                        </div>

                    </div>
                </ng-template>

            </div>

            <div class="modal-footer">
                <button (click)="ocultarModal()" type="button" class="btn btn-danger">Cerrar</button>
            </div>
        </div>
    </div>
</div>