<div class="container">
    <h1>Mis Citas</h1>
    <h2><strong>Proxima Cita</strong></h2>
    <div class="card" *ngIf="proxCita">
        <div class="imagen">
            <img [src]="imgProx">
        </div>
        <div class="datos">
            <h3>Especialidad: {{proxCita.Medico.especialidad}}</h3>
            <p>Hora inicio: {{proxCita.hora_inicio}}</p>
            <p>Hora Termino: {{proxCita.hora_termino}}</p>
            <button class="btn btn-primary" (click)="abrirModalItemProx(proxCita,'p')">Ver mas Detalles</button>
        </div>
    </div>
        <h2 style="text-align: start; border-bottom: 0.5px solid;">Citas de la Semana</h2>
        <div class="scroll-table">
            <table>
                <thead>
                    <th></th>
                    <th></th>
                    <th></th>
                </thead>


                <tbody>

                    <tr *ngFor="let item of resul; index as i">
                        <td>{{item.Medico.especialidad}}</td>
                        <td>{{item.hora_inicio}}</td>
                        <td>{{item.hora_termino}}</td>
                        <td class="btnesp"><button class="btn btn-primary" (click)="abrirModalItem(i,item)">Ver mas
                                Detalles</button></td>
                    </tr>

                </tbody>


            </table>
        </div>
        
    </div>
    


<app-modal-detalles></app-modal-detalles>
